
<h2>Login</h2>
<form action="/Login/Logar" method="post">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input id="login" type="text" class="form-control" name="login" placeholder="Login" autocomplete="off">
    </div>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input id="senha" type="password" class="form-control" name="senha" placeholder="Senha">
    </div>
     
    </br>

    <input type="submit" value="Logar" class="btn btn-primary" />
</form>