
<form action="/Categoria/Incluir" method="post">
    <label for="nome">Nome:</label>
    <input id="nome" name="categoria.Nome" class="form-control" />
    <br />

    <label for="descricao">Descrição:</label>
    <input id="descricao" name="categoria.Descricao" class="form-control" />
    <br />

    <input type="submit" />
</form>
