@model Estoque.Models.CategoriaDoProduto

<form>

    <labe> Id</labe>
    <input id="idP" class="form-control" name="categoria.Id" value=@Model.Id readonly>

    <label>Nome do Produto</label>
    <input id="nomeP" name="categoria.Nome" class="form-control" value="@Model.Nome" />

    </br>

    <label>Descrição do Produto</label>
    <input id="descricao" name="categoria.Descricao" class="form-control" value="@Model.Descricao" />
    </br>

    <div id="alert" class="alert alert-success" role="alert" style="visibility:hidden">
        Cadastro efetuado com sucesso !.
    </div>
</form>
    <button class="btn btn-primary" onclick="Editar()">Salvar</button>
    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Categoria")'">Voltar</button>


<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">

    function Editar()
    {
        var url = "@Url.Action("EditaCategoria", "Categoria")";
        var produtoId = $('#idP').val();
        var nomeP = $('#nomeP').val();
        var desP = $('#descricao').val();

        var params = { id: produtoId, name: nomeP, descricao: desP };
        $.post(url, params, atualizado);

    }
    function atualizado()
    {
        $('#alert').css("visibility", "visible");
    }


</script>