@model Estoque.Models.CategoriaDoProduto

<form>

    <labe> Id</labe>
    <input id="idP" class="form-control" name="categoria.Id" value=@Model.Id readonly>

    <label>Nome do Produto</label>
    <input id="nomeP" name="categoria.Nome" class="form-control" value="@Model.Nome" />

    </br>

    <label>Descrição do Produto</label>
    <input id="descricao" name="categoria.Descricao" class="form-control" value="@Model.Descricao" />
    </br>

    <div id="alert" class="alert alert-success" role="alert" style="visibility:hidden">        
    </div>
</form>
    <button class="btn btn-primary" onclick="Editar()">Salvar</button>
    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Categoria")'">Voltar</button>


<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">

    function Editar()
    {
        var url = "@Url.Action("EditaCategoria", "Categoria")";
        var produtoId = $('#idP').val();
        var nomeP = $('#nomeP').val();
        var desP = $('#descricao').val();

        var data = { id: produtoId, name: nomeP, descricao: desP };
        var json = JSON.stringify(data)

        $.ajax({
            type: "PUT",
            url: url,
            contentType: "application/json; charset=utf-8",
            data: json,
            cache: false,
            success: function(d) {
                atualizado()
             },
            error: function(xhr, textStatus, errorThrown) {
                erro()
             }
        });

    }


    function atualizado()
    {
        $('#alert').css("visibility", "visible");
        $('#alert').html("Cadastro efetuado com sucesso !");

    }

    function erro()
    {
        $('#alert').css("visibility", "visible");
        $('#alert').removeClass("alert-success");
        $('#alert').addClass("alert-danger");
        $('#alert').html("Ops... Houve um erro na alteração !");
    }


</script>